CI_ENVIRONMENT = development

database.default.hostname = localhost
database.default.port     = 3306
database.default.database = cpanelusername_dbname
database.default.username = cpanelusername_dbuser
database.default.password = yourpassword
database.default.DBDriver = MySQLi
database.default.DBPrefix =